---
interface Props {
    group: { 
        title: string,
        tooltips: string[],
        svgPaths: string[],
        values: string[],
    },
    classList: string,
}

const { group, classList } = Astro.props
---
<div class:list={[classList, "grid grid-rows-[5rem_4rem] md:grid-rows-[6rem_5rem] xl:grid-rows-[7rem_6rem] md:gap-x-6 place-items-center text-lg md:text-xl xl:text-2xl"]}>
{   
    group.svgPaths.length == 1 &&
    <span class:list={[classList, "text-center ${bg}"]}>{group.title}</span>
}
{
    group.svgPaths.length > 1 &&
    <div class={"w-full col-span-full border-b border-gray-500 leading-[.1] text-center"}>
        <span class:list={[classList, "px-4 text-center"]}>{group.title}</span>
    </div>
}
{
    group.svgPaths.map((path, index) => 
        <svg class="h-14 w-20 sm:h-16 sm:w-24 md:h-20 md:w-28 2xl:h-20 2xl:w-32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d={path} /><title>{group.tooltips[index]}</title></svg>)
}
{
    group.values.map(value => <div class="w-20 sm:w-24 md:w-28 2xl:w-32 text-center lg:text-xl">{value}</div>)
}
</div>