---
import { getEntry } from "astro:content"

const { tea } = Astro.props
const type = await getEntry('types', tea.data.type.id)
const pack = await getEntry('packs', tea.data.pack.id)
const href = `/pakete/${pack.data.route}/${tea.data.route}` 
---
<article class="max-w-xs">
    <a href={href} class="group">
        <div class="image-wrapper">
            {
                !tea.data.hasImage &&
                <img width="300" height="250" src="/images/teas/empty-cup.png" />
            }
            {
                tea.data.hasImage &&
                <img width="300" height="250" src={`/images/teas/${tea.slug}/01.png`} class={tea.data.hasHover ? "image-hoverable" : ""}/>
            }
            {
                tea.data.hasHover &&
                <img width="300" height="250" src={`/images/teas/${tea.slug}/02.png`} class="image-hover"/>
            }
        </div>
        <div class="lg:px-8">
            <h2 class="mt-4 text-xl font-bold">{tea.data.title}</h2>
            <p class="flex justify-between text-lg">
                <span>{type.data.title}</span>
                <span>{tea.data.purchase.amount}</span>
            </p>
        </div>
    </a>
</article>
<style>
    .image-wrapper {
        position: relative;
        max-width: 100%;
    }

    .image-hover {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        object-fit: contain;
        opacity: 0;
    }

    .image-hoverable,
    .image-hover {
        transition: opacity .2s;
    }

    article:hover .image-hover {
        opacity: 1;
    }

    article:hover .image-hoverable {
        opacity: 0;
    }
  </style>
