---
const { data } = Astro.props
---
<span>
    {data.type}
</span>
|
<span>
    <a href={data.purchase.shopUrl} class="underline decoration-dashed underline-offset-4 hover:text-gray-700">{data.purchase.shopName}</a>
</span>
|
<span>{data.purchase.amount}</span>
|
<span>{data.purchase.pricePer100g} <sup>{data.purchase.currency}</sup>&frasl;<sub>g</sub></span>