---
const { data } = Astro.props
---
<span>
    {data.details.categorization.tea}
</span>
|
<span>
    <a href={data.purchase.shopUrl}>{data.purchase.shopName}</a>
</span>
|
<span>{data.purchase.amount}</span>
|
<span>{data.purchase.pricePer100g} <sup>{data.purchase.currency}</sup>&frasl;<sub>g</sub></span>