---
import Page from '../../../layouts/Page.astro'
import Frame from '../../../components/page/Frame.astro'
import PurchaseInfo from '../../../components/tea/PurchaseInfo.astro'
import PropertyTable from '../../../components/tea/PropertyTable.astro'
import PreparationTable from '../../../components/tea/PreparationTable.astro'
import Tag from '../../../components/glossary/Entry.astro'

import  { getCollection } from 'astro:content'

export async function getStaticPaths() {
    const teas = await getCollection('teas')
    const packs = await getCollection('packs')
    
    return teas.map(tea => {
        const pack = packs.find(p => p.id === tea.data.pack!.id)!
        return {
            params: { 
                pack: pack.data.route,
                    tea: tea.data.route }, 
            props: { entry: tea }
        }})
}

const { entry } = Astro.props
const { Content } = await entry.render()

const imagePaths = Object.keys(import.meta.glob('/public/images/teas/*/*/0*.png'))
    .filter(path => path.toLowerCase().includes(entry.slug))

const tags = await getCollection('tags', tag => entry.data.tags.includes(tag.slug))
---
<Page title={entry.data.title}>
    <Frame>
        <section class="w-full my-10 grid justify-items-center lg:grid-cols-2">
            <div>
                <img class="w-xl max-w-screen aspect-square" src={imagePaths[0]}>
            </div>
            <div class="max-w-3xl lg:max-w-xl flex flex-col items-center lg:items-start lg:justify-self-start lg:mt-16">
                <h1 class="my-3 text-6xl font-bold">{entry.data.title}</h1>
                <p class="my-3 pr-5 self-stretch flex justify-between text-lg tracking-wider opacity-70">
                    <PurchaseInfo data={entry.data} />
                </p>
                <div class="my-3 text-2xl">
                    <Content />
                </div>
            </div>
        </section>
    </Frame>
    <Frame bg="bg-gray-100">
        <section class="flex justify-evenly">
            {
                entry.data.properties &&
                <PropertyTable properties={entry.data.properties} />
            }
            {
                entry.data.preparation &&
                <PreparationTable preparation={entry.data.preparation} />
            }
        </section>
    </Frame>
    <Frame bg="bg-white">
        {
            tags.map(tag => <Tag tag={tag} />)
        }
    </Frame>
</Page>
<style>
</style>