---
import Page from '../../../layouts/Page.astro'
import Frame from '../../../components/page/Frame.astro'
import PurchaseInfo from '../../../components/tea/PurchaseInfo.astro'
import PropertyTable from '../../../components/tea/PropertyTable.astro'
import Preparation from '../../../components/tea/Preparation.astro'
import Tag from '../../../components/glossary/Entry.astro'

import  { getCollection, getEntry } from 'astro:content'
import { modulo } from '../../../scripts/modulo'

export async function getStaticPaths() {
    const teas = await getCollection('teas')
    const packs = await getCollection('packs')
    
    return teas.map(tea => {
        const pack = packs.find(p => p.id === tea.data.pack!.id)!
        return {
            params: { 
                pack: pack.data.route,
                    tea: tea.data.route }, 
            props: { entry: tea }
        }})
}

const { entry } = Astro.props
const { Content } = await entry.render()

const imagePaths = Object.keys(import.meta.glob('~/assets/images/teas/*/*/0*.png'))
    .filter(path => path.toLowerCase().includes(entry.slug))

const tags = await getCollection('tags', tag => entry.data.tags.includes(tag.slug))
const pack = await getEntry('packs', entry.data.pack.id)
const teasInPack = await getCollection('teas', tea => tea.data.pack.id === entry.data.pack.id)
const entryIndex = teasInPack.findIndex(tea => tea.id === entry.id)
const previousTea = teasInPack[modulo(entryIndex - 1, teasInPack.length)]!
const nextTea = teasInPack[modulo(entryIndex + 1, teasInPack.length)]!
---
<Page title={entry.data.title}>
    <Frame>
        <section class="w-full mt-8 mb-20 lg:pr-14 xl:pr-0 grid justify-items-center lg:grid-cols-2 xl:grid-rows-[6rem]">
            <div class="lg:col-start-2 lg:justify-self-stretch lg:max-w-xl lg:self-end text-lg md:text-xl tracking-wider flex flex-col items-center lg:flex-row lg:justify-between">
                <a class="col-span-2 opacity-70 hover:opacity-90" href="../">{pack.data.title}</a>
                <div class="flex gap-2 lg:gap-5">
                    <a class="opacity-70 hover:opacity-90" href={previousTea.data.route}>&#8249; zurück</a>
                    <a class="opacity-70 hover:opacity-90" href={nextTea.data.route}>weiter &#8250;</a>
                </div>
            </div>
            <div class="lg:px-10 lg:col-start-1 lg:row-start-1 lg:row-span-2">
                <img class="w-xl max-w-screen aspect-square" src={imagePaths[0]}>
            </div>
            <div class="lg:col-start-2 lg:justify-self-start max-w-2xl md:max-w-3xl lg:max-w-xl flex flex-col items-center lg:items-start">
                <h1 class="my-3 sm:my-6 text-3xl sm:text-4xl md:text-5xl xl:text-6xl font-bold">{entry.data.title}</h1>
                <div class="my-3 self-stretch flex justify-between text-lg md:text-xl tracking-wider opacity-70">
                    <PurchaseInfo data={entry.data} />
                </div>
                <div class="my-3 text-xl md:text-2xl">
                    <Content />
                </div>
            </div>
        </section>
    </Frame>
    <Frame bg="bg-gray-100">
        <section class="flex justify-evenly">
        {
            entry.data.preparation &&
            <Preparation preparation={entry.data.preparation} />
        }
        </section>
    </Frame>
    <Frame bg="bg-white">
        <section class="my-10 grid md:grid-cols-2 gap-20 lg:gap-64">
            <div class="max-w-2xl">
                <h2 class="text-2xl font-bold">Erklärungen</h2>
                {
                    tags.map(tag => <Tag tag={tag} />)
                }
            </div>
            <div class="">
                <h2 class="text-2xl font-bold">Details</h2>
                {
                    entry.data.properties &&
                    <PropertyTable properties={entry.data.properties} />
                }
            </div>
        </section>
    </Frame>
</Page>
<style>
</style>