---
import Page from '../../../layouts/Page.astro'
import PurchaseInfo from '../../../components/tea/PurchaseInfo.astro'
import PropertyTable from '../../../components/tea/PropertyTable.astro'
import PreparationTable from '../../../components/tea/PreparationTable.astro'

import  { getCollection } from 'astro:content'

export async function getStaticPaths() {
    const teas = await getCollection('teas')
    const packs = await getCollection('packs')
    
    return teas.map(tea => {
        const pack = packs.find(p => p.id === tea.data.pack!.id)!
        return {
            params: { 
                pack: pack.data.route,
                    tea: tea.data.route }, 
            props: { entry: tea }
        }})
}

const { entry } = Astro.props
const { Content } = await entry.render()
const imagePaths = Object.keys(
    import.meta.glob('/public/images/teas/*/*/0*.png'))
    .filter(path => path.includes(entry.slug))
---
<Page title={entry.data.title}>
    <div class="hero">
        <div class="description">
            <h1>{entry.data.title}</h1>
            <PurchaseInfo purchase={entry.data.purchase} />
            <Content />
        </div>
        <div>
            <img src={imagePaths[0]}>
        </div>
    </div>
    <div class="infobox">
        {
            entry.data.properties &&
            <PropertyTable properties={entry.data.properties} />
        }
        {
            entry.data.preparation &&
            <PreparationTable preparation={entry.data.preparation} />
        }
    </div>
</Page>
<style>
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        max-width: 40rem;
    }

    .infobox {
        display: flex;
        justify-content: space-evenly;
        background-color: whitesmoke;
    }
</style>