---
import Page from '../../../layouts/Page.astro'
import PageSection from '../../../components/PageSection.astro'
import PurchaseInfo from '../../../components/tea/PurchaseInfo.astro'
import PropertyTable from '../../../components/tea/PropertyTable.astro'
import PreparationTable from '../../../components/tea/PreparationTable.astro'
import Tag from '../../../components/glossary/Entry.astro'

import  { getCollection } from 'astro:content'

export async function getStaticPaths() {
    const teas = await getCollection('teas')
    const packs = await getCollection('packs')
    
    return teas.map(tea => {
        const pack = packs.find(p => p.id === tea.data.pack!.id)!
        return {
            params: { 
                pack: pack.data.route,
                    tea: tea.data.route }, 
            props: { entry: tea }
        }})
}

const { entry } = Astro.props
const { Content } = await entry.render()

const imagePaths = Object.keys(import.meta.glob('/public/images/teas/*/*/0*.png'))
    .filter(path => path.toLowerCase().includes(entry.slug))

const tags = await getCollection('tags', tag => entry.data.tags.includes(tag.slug))
---
<Page title={entry.data.title}>
    <PageSection>
        <section class="my-10 flex flex-col items-center">
            <div>
                <img class="w-xl max-w-screen aspect-square" src={imagePaths[0]}>
            </div>
            <div class="max-w-lg flex flex-col items-center">
                <h1 class="my-3 text-3xl font-bold">{entry.data.title}</h1>
                <p class="my-3 flex self-stretch justify-between text-lg opacity-70">
                    <PurchaseInfo data={entry.data} />
                </p>
                <div class="my-3 text-lg">
                    <Content />
                </div>
            </div>
        </section>
    </PageSection>
    <PageSection bg="bg-gray-100">
        <section class="flex justify-evenly">
            {
                entry.data.properties &&
                <PropertyTable properties={entry.data.properties} />
            }
            {
                entry.data.preparation &&
                <PreparationTable preparation={entry.data.preparation} />
            }
        </section>
    </PageSection>
    <PageSection bg="bg-white">
        {
            tags.map(tag => <Tag tag={tag} />)
        }
    </PageSection>
</Page>
<style>
</style>