---
import Page from '../../../layouts/Page.astro'
import Frame from '../../../components/page/Frame.astro'
import Preview from '../../../components/tea/Preview.astro'

import { getCollection } from 'astro:content'

export async function getStaticPaths() {
    const packs = await getCollection('packs')

    return packs.map(pack => ({
        params: { pack: pack.data.route },
        props: { pack: pack }
    }))
}

const { pack } = Astro.props
const teas = await getCollection('teas', tea => tea.data.pack.id === pack.id)
const bg = "bg-white"
---
<Page title={pack.data.title} bgHeader={bg}>
    <Frame bg={bg}>
        <div class="mb-36 w-full flex flex-col items-center">
            <h1 class="my-5 text-4xl font-bold">{pack.data.title}</h1>
            <p class="my-12 text-xl max-w-3xl lg:max-w-4xl">{pack.data.teaser}</p>
            <div class="my-16 w-full flex justify-center">
                <div class="w-full max-w-5xl flex gap-14 flex-wrap justify-center">
                    {
                        teas.map(tea => (
                            <li class="list-none">
                                <Preview tea={tea} images={[
                                    { src: `/images/teas/${tea.slug}/01.png` },
                                    { src: `/images/teas/${tea.slug}/02.png` }
                                ]} />
                            </li>))
                    }
                </div>
            </div>
        </div>
    </Frame>
</Page>