---
import Page from '../../../layouts/Page.astro'
import Frame from '../../../components/page/Frame.astro'
import Preview from '../../../components/tea/Preview.astro'

import { CollectionEntry, getCollection } from 'astro:content'
import { modulo } from '../../../scripts/modulo'

export async function getStaticPaths() {
    const packs = await getCollection('packs')

    return packs.map(pack => ({
        params: { pack: pack.data.route },
        props: { entry: pack }
    }))
}

const { entry } = Astro.props
const packs = await getCollection('packs')
const teas = await getCollection('teas', tea => tea.data.pack.id === entry.id)
const bg = "bg-white"

const packIndex = packs.findIndex(pack => pack.id === entry.id)
const prevPack = packs[modulo(packIndex - 1, packs.length)]!
const nextPack = packs[modulo(packIndex + 1, packs.length)]!

const navigation = {
    root: "pakete",
    segments: [{
        collection: packs.sort((a: CollectionEntry<'packs'>, b: CollectionEntry<'packs'>) => a.id <= b.id ? +1 : -1), 
        entry: entry
    }],
    relative: {
        prevHref: `/pakete/${prevPack.data.route}`,
        nextHref: `/pakete/${nextPack.data.route}`,
    }
}
---
<Page title={entry.data.title} navigation={navigation}>
    <Frame bg={bg}>
        <div class="mb-36 w-full flex flex-col items-center">
            <h1 class="my-5 text-4xl text-gray-800 font-medium">{entry.data.title}</h1>
            <p class="my-12 max-w-3xl text-xl text-gray-800 lg:max-w-4xl lg:text-2xl">{entry.data.teaser}</p>
            <div class="my-16 w-full flex justify-center">
                <div class="w-full max-w-5xl flex gap-14 flex-wrap justify-center">
                    {
                        teas.map(tea => (
                            <li class="list-none">
                                <Preview tea={tea} images={ tea.data.hasNoImages ? [] : [
                                    { src: `/images/teas/${tea.slug}/01.png` },
                                    { src: `/images/teas/${tea.slug}/02.png` }
                                ]} />
                            </li>))
                    }
                </div>
            </div>
        </div>
    </Frame>
</Page>