---
import Page from '../../../layouts/Page.astro'
import Frame from '../../../components/page/Frame.astro'

import { getCollection } from 'astro:content'

export async function getStaticPaths() {
    const packs = await getCollection('packs')

    return packs.map(pack => ({
        params: { pack: pack.data.route },
        props: { pack: pack }
    }))
}

const { pack } = Astro.props
const teas = await getCollection('teas', tea => tea.data.pack.id === pack.id)
const bg = "bg-white"
---
<Page title={pack.data.title} bgHeader={bg}>
    <Frame bg={bg}>
        <h1 class="my-5 text-3xl font-bold">{pack.data.title}</h1>
        {
            teas.map(tea => (
                <li><a href={`${pack.data.route}/${tea.data.route}`}>
                    {tea.data.title}
                </a></li>))
        }
    </Frame>
</Page>